[user]
	email = bryanenglish@protonmail.com
	name = Bryan English
[alias]
    st = status
    cm = commit -m
    cb = checkout -b
    co = checkout
    aa = add .
    ai = add --interactive
    af = add -f
    ri = rebase -i
    mt = ls-tree -r master --name-only
    puo = push -u origin

